.DS_Store
!*.so
!*.bat
!*.jar
pf/android_studio/app/release/app-release.apk
pf/android_studio/app/release/PF-v1.28.00.apk
pf/android_studio/app/release/PF-V1.30.00.apk
pf/android_studio/app/release/PF-V1.31.00_release_20181026.apk
pf/android_studio/app/release/PF-V1.31.00_release.apk
pf/android_studio/app/release/PF-V1.30.03.apk
pf/android_studio/app/release/PF-V1.30.02.apk
pf/android_studio/app/release/PF-V1.32.00_release_20181029.apk
pf/android_studio/app/release/PF-V1.33.00_release_20181029.apk
pf/android_studio/app/release/PF-V1.33.03_release_20181030.apk
pf/android_studio/app/release/PF-V1.33.02_release_20181030.apk
pf/android_studio/app/release/PF-V1.33.01_release_20181030.apk
pf/android_studio/app/release/PF-V1.33.00_test_20181031.apk
pf/android_studio/app/release/PF-V1.33.18.03_80_20181102.apk
